// ACCOUNT ITEM
.wapper {
  padding: 20px 0;
  border-top: 3px solid rgba(22, 24, 35, 0.03);
  h6 {
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 5px;
  }

  & > span {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 5px;
    cursor: pointer;
  }
}

.see-all {
}
.see-less {
  display: none;
}
